# Evitar credenciales de Google Cloud
gcp-credentials.json
*.json.p12

# Evitar carpetas de compilación en cualquier nivel
**/bin/
**/obj/

# Evitar configuraciones locales con secretos
appsettings.Development.json
appsettings.Local.json

# Archivos de sistema macOS
.DS_Store